<div class="container-fluid">
  <form #myForm="ngForm" [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>UserName:</label>
      <input type="text" formControlName="userName" class="form-control" placeholder="UserName">
      <div [hidden]="formModel.get('userName').untouched">
        <label for="" [hidden]="!formModel.hasError('required','userName')">用户名必填</label>
      </div>
    </div>
    <div class="form-group">
      <label>Phone:</label>
      <input formControlName="phone" type="text" class="form-control" placeholder="Phone">
      <div [hidden]="formModel.get('phone').valid || formModel.get('phone').pristine">
        <label for="" [hidden]="!formModel.hasError('phone','phone')">手机号错误</label>
      </div>
    </div>
    <div formGroupName="passGroup">
      <div class="form-group">
        <label>Password:</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
        <label for="" [hidden]="!formModel.hasError('minlength',['passGroup','password'])">密码长度最小为6</label>
      </div>
      <div class="form-group">
        <label>Comfirm Password:</label>
        <input formControlName="comfirmPassword" type="password" class="form-control" placeholder="Comfirm Password">
        <label for="" [hidden]="!formModel.hasError('pass','passGroup')">{{formModel.getError('pass','passGroup')?.desc}}</label>
      </div>
    </div>
    <button type="submit" class="btn btn-default">SignUp</button>
  </form>
  <div>
    {{formModel.status}}
  </div>
</div>